h1,h2{
    text-align: center;
}

.roam{
    border: 1px;
    padding: 5px;
    margin: 4px;
    background-color: green;
    color: white;
    border-radius: 5%;
    font-size: 14px;
    width: 50px;
    text-align: center;
}
.detail{
    border: 1px;
    padding: 5px;
    margin: 4px;
    border-radius: 5%;
    font-size: 14px;
    color: blue;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.flex{
    display: flex;
    flex-direction: row;
}
.icon{
    width: 30px;
    height:30px;

}

p{
    text-align: left;
}

.profile_picture{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 25px;
    position: absolute;
    top: 5px;
    right: 1px;
}
